.form-container {
  margin-top: 25vh;
  background-image: url("./../assets/images/banner.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
}
.input-field {
  text-align: center;
  h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 5rem;
  }
  input {
    height: 25px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }
}

.animal-gif, .plant-gif{
  img {
    height: 200px;
  }
}

.container {
  display: none;
}
.contained {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: center;
  width: 90%;
}

.pig, .plant-farm{
  width: 45%;
  margin: 2px;
  text-align: center;
  border: 1px dotted black;
  padding-bottom: 10px;
}

.attributes, .buttonDiv, .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plant-farm{
  .field{
    font-size: 0.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .plant{
      width: 35%;
      margin: 2.5%;
      img{
        width: 40px;
      }
    }
  }
}

button {
  width: 50px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.field .buttons {
  margin: none;
  padding: none;
  .pick-button {
    background: yellow;
  }
  .remove-plant {
    border: none;
    width: 40px;
  }
}

img {
  width: 400px;
  height: auto;
}
#reset, .remove-plant {
  display: none;
}
.weather {
  text-align: left;
  width: 100%;
}
span {
  color: red;
}
#plant-reset {
  background-color: red;
  color: white;
}
